[submodule "matplotplusplus"]
	path = matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "SDL2_gfx"]
	path = SDL2_gfx
	url = https://github.com/mupfdev/SDL2_gfx
[submodule "Tonic"]
	path = Tonic
	url = https://github.com/TonicAudio/Tonic
[submodule "VSSynth"]
	path = VSSynth
	url = https://github.com/airloaf/VSSynth
